header{
    border-style: solid;
    border-color: black;
}

form{
    border-style: solid;
    border-color: red;
}

ul{
    border-style: solid;
    border-color: yellow; 
}

#currentWeather{
    border-style: solid;
    border-color:blue;
}

#forcast{
    border-style: solid;
    border-color: green;
}