
/* can be removed, putting space around and in the boxes I created as a visual aid.  */
*{
    padding: 10px 10px;
    margin: 3px 3px;
}

header{
    border-style: solid;
    border-color: black;
}

nav{
    border-style: solid;
    border-color: red;
    padding: 10px 10px;
}

ul{
    border-style: solid;
    border-color: yellow; 
}

#currentWeather{
    border-style: solid;
    border-color:blue;
}

#forecast{
    border-style: solid;
    border-color: green;
}