
/* can be removed, putting space around and in the boxes I created as a visual aid.  */
html{
        font-family: "Salsa", Arial, Helvetica, sans-serif;
    background-color: rgb(209, 207, 207);
}

header{
    border-style: solid;
    border-color: black;
    
}

nav{
    border-style: solid;
    border-color: red;
    /* padding: 10px 10px; */
}

ul{
    border-style: solid;
    border-color: yellow; 
}

section div{
   padding: 20px 20px 20px 20px;
}

#currentWeather{
    border-style: solid;
    border-color:blue;
}

#forecast{
    border-style: solid;
    border-color: green;
}
